/* === common === */
body {
    font-family: Arial, sans-serif;
    color: #5f5f5f;
    letter-spacing: 2px;
}

a {
    color: #1b95e0;
    font-weight: bold;
    text-decoration: none;
}

/* === nav === */
header {
    text-align: right;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

nav a {
    margin-left: 5px;
    font-weight: normal;
    color: #5f5f5f;
    text-decoration: none;
    margin-right: 1px
}
/* === description === */
.bigHi {
    font-size: 190px;
    color: #ff9933;
    margin: 0;
    line-height: 1;
    padding: 0;
    font-family:Helvetica;
}

.info_container {
    font-size: 22px;
}
#top_container{margin-left: 50px;}

h1 {
	display: i
    color: #ff9933;
    font-weight: bold;
    font-size: 36px;
}
.wall-e{
    width:50px;
    float:right;
        margin: 50px 50px 10px 0;


}
/* === list === */
.marquee_container {
    border-top: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    padding: 30px 0 30px 0;
    margin: 0 50px;
    text-align: center;
    font-size: 26px;
    line-height: 1.6;
}

.website_list_container {
    margin: 30px 0 20px 50px;
}

li{
    margin-top: 2px;
}
/* === footer === */
footer{
   border-top: 1px solid #5f5f5f;
   margin-top: 50px;
   padding: 20px;
  text-align: center;
  
}
